<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.darkjrong.mix.mapper.RoleTypePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.darkjrong.mix.common.pojo.entity.RoleTypePermission">
        <id column="id" property="id" />
        <result column="role_type_id" property="roleTypeId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_type_id, permission_id
    </sql>

    <select id="findRoleTypePermissionByRoleTypeId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from sys_role_type_permission
        where role_type_id = #{roleTypeId,jdbcType=BIGINT}
    </select>

    <select id="queryRoleTypePermissionByPermissionId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from sys_role_type_permission
        where permission_id = #{permissionId,jdbcType=BIGINT}
    </select>
</mapper>
